.splash{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#020617;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
  overflow:hidden;
  animation: fadeOut 1s ease 11s forwards;
}

.bg-animation{
  position:absolute;
  width:200%;
  height:200%;
  background-image:
      linear-gradient(rgba(59,130,246,.08) 1px, transparent 1px),
      linear-gradient(90deg, rgba(59,130,246,.08) 1px, transparent 1px);
  background-size: 60px 60px;
  animation: moverGrid 20s linear infinite;
}

@keyframes moverGrid{
  from{
    transform:translate(0,0);
  }
  to{
    transform:translate(-60px,-60px);
  }
}

.contenido{
  position:relative;
  text-align:center;
  z-index:2;
}

h1{
  font-size:44px;
  letter-spacing:3px;
  margin:0;
}

h2{
  margin-top:15px;
  color:#60a5fa;
  font-weight:300;
}

@keyframes fadeOut{
  to{
    opacity:0;
    visibility:hidden;
  }
}


.typing{
  margin-top:25px;
  font-size:18px;
  color:#60a5fa;
  letter-spacing:1px;
  min-height:24px;
}

.cursor{
  animation: parpadeo 1s infinite;
}

@keyframes parpadeo{
  0%{ opacity:1; }
  50%{ opacity:0; }
  100%{ opacity:1; }
}

@media (max-width: 900px){

  h1{
    font-size:32px;
    text-align:center;
  }

  h2{
    font-size:18px;
    text-align:center;
  }

  .typing{
    font-size:16px;
    text-align:center;
  }

}

@media (max-width: 480px){

  h1{
    font-size:24px;
    letter-spacing:1px;
  }

  h2{
    font-size:14px;
  }

  .typing{
    font-size:14px;
  }

  .contenido{
    padding:0 20px;
  }

}
